



aside i.icon{font-size: 2rem;}
aside header i.icon{font-size: 2rem;}

aside header i{color: var(--color-light); padding: .4rem;}
aside header i:hover {color: white;}
aside header i.icon-backward2{ display: none; font-size: 2.5rem; }

// .colDir-Aside i{background-color: var(--ton90);}

header i.icon{font-size: 1.5rem;}
header i.icon-sanduiche{ font-size: 1rem;}
header i.icon-forward3{ visibility: hidden; font-size: 2.5rem; }

header.lay2 nav i.icon-forward3{
    height: var(--height-header);
    align-items: center;
}


// /////  MEDIUM
@media (min-width:400px) { 
    //////////////////  BASE
    // aside i.icon{font-size: 2.2rem;}
    // header i.icon{font-size: 1.5rem;}
    // header i.icon-sanduiche{ font-size: 1rem; }
    aside header i.icon-undo2{ display: none; }
    aside header i.icon-backward2{ display: grid; }
    
}



@media (min-width:850px) { 
    //////////////////  BASE
    header i.icon-sanduiche{ display: none;
    header i.icon-backward2{ visibility: visible;  }
    }

}