body.lay0 {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  // grid-template-rows: 1fr;
  // grid-template-rows: 1fr;
  // grid-template-rows: minmax(var(--height-mainlay1), 1fr);
  grid-template-rows: 1fr;
  // grid-template-rows: var(--height-mainlay1);

  background: purple;
}



@media (min-width: 400px) { 
  body{
    // grid-template-columns:  repeat(24, 1fr);
  }
}


  @media (min-width: 850px) { 
    body {
      // grid-template-columns: repeat(24, 1fr) ; 
    }
    
  }





