
footer.lay2 {/////////////FOOTER layout LAY2
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-top: 2px solid var(--color-light);
}



/*====  FOOTER  ============================ */
footer ul {
  display: flex;
  // flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: end;
  // background: green; color: yellow;
}
