<!-- admin_bacoffice   -->

<%# console %>

<section class="welcome" dachboard>
  <div class="container">
    <header class="dachboard"><h4>- Dashboard - </h4></header>
    <main>

sdaf  


    </main>
  </div container>
</section>




    <%# <!-- btn1 --><%= text_field_tag("btn1-hidden",  @pin, :id => "js-ref-btn1"  )  %> 