///////////////  MAIN LAY1
main.lay1 {
  display: grid;
  grid-column: 1 / 25;
  grid-row: 1 / 2;
  background: var(--ton10);

  grid-template-columns: 1fr;
  // grid-template-rows:  var(--height-header) minmax(80vh, 1fr) 1fr ;
  grid-template-rows: var(--height-header) minmax(78vh, auto) var(
      --height-footer
    );
}
/* MAIN_LAY1 */

@media (min-width: 400px) {
  main.lay1 {
    // display: grid;
    // width: max(100px);
    grid-column: 2 / 25;
    // z-index: 12;
    //   background: yellow; color: black;
  }
}






