

section, .welcome {
display: grid;
margin: 1rem 0rem;
padding: 2rem;
background-color: var(--ton15);
// background: green; color: yellow;

}
.welcome header {
  border-bottom: 2px solid var(--ton50);
  margin-bottom: 2rem;
}

.welcome .cards {
  border-bottom: 2px solid var(--ton50);
  
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1.5rem;
//   background: yellow; color: blue;
}

.cards .card {
  flex: 1 1 auto;
  min-width: 10rem;
  max-width: 20rem;
  margin-top: .5rem;
  border-bottom: 0.25rem solid var(--ton90);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--ton22);
  
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
  
}
.card h4 {
  width: 100%;
  color: var(--color-light);
  // background: red; color: black;
  
  display: flex;
  justify-content: center;
  padding: 0.5rem 0rem 1rem;
  
} 
.card main{
  width: 100%;
  display: flex;
  // background: rgb(6, 204, 204); color: pink;
}
.card .left{
  // flex-shrink: 1;
  flex: 1 1;
  // width: auto;  
  // background: yellow; color: blue;
  display: flex;
  gap: 1rem;
  align-items: center;
  // padding: 0.5rem 0rem 1rem;
  // flex-wrap: wrap;
  
}
.card .left i {
  // margin-bottom: 3rem;
  // font-size: 2.25rem;
  color: black;
}
.card .right{
  flex: 1 1;
  // width: auto;
  // background: green; color: pink;
}



// .cards .card {
//   flex: 1 1 auto;
//   min-width: 10rem;
//   max-width: 20rem;
//   margin-top: .5rem;
//   border-bottom: 0.25rem solid var(--ton90);
//   border-radius: 0.5rem 0.5rem 0 0;
//   background-color: var(--ton22);
  
//   display: flex;
//   flex-wrap: wrap;
//   padding: 1rem;
//   text-align: center;
  
// }
// .card h4 {
//   width: 100%;
//   color: var(--color-light);
//   // background: red; color: black;
  
//   display: flex;
//   justify-content: center;
//   padding: 0.5rem 0rem 1rem;
  
// } 
// .card main{
//   width: 100%;
//   display: flex;
//   // background: rgb(6, 204, 204); color: pink;
// }
// .card .left{
//   // flex-shrink: 1;
//   flex: 1 1;
//   // width: auto;  
//   // background: yellow; color: blue;
//   display: flex;
//   gap: 1rem;
//   align-items: center;
//   // padding: 0.5rem 0rem 1rem;
//   // flex-wrap: wrap;
  
// }
// .card .left i {
//   // margin-bottom: 3rem;
//   // font-size: 2.25rem;
//   color: black;
// }
// .card .right{
//   flex: 1 1;
//   // width: auto;
//   // background: green; color: pink;
// }


// /*====  DASHBOARD  ============================ */
