// DaVINCI / STYLESHEETS /   IOT

section,
.welcome {
  margin: 1rem 0rem;
  background-color: var(--ton15);
  //
  display: grid;
  padding: 2rem;
}
.welcome header.dachboard {
  border-bottom: 2px solid var(--ton50);
  margin-bottom: 1rem;
  color: var(--ton70);
}
article header{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: var(--ton90);
}

.welcome .cards {
  
  display: flex;
  // justify-content: center;
  // background: green; color: pink;
  flex-wrap: wrap;

}
.welcome .card { 
  // flex: 1 1 300px;
  //
  // width: 25rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.welcome .card h4 {
  width: 100%;
  color: var(--color-light);
  //
  // display: flex;
  // align-items: center;
}
.card main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card .celula {
  width: 100%;
  // height: 100%;
  //
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
}
.card .celula i {
  font-size: 4rem;
  color: rgb(143, 143, 143);
}
.card .celula p {
  width: auto;
}
.card .celula .btn {
}

.btn-dark, .btn-off{
  color: var(--ton90);
	background-color: var(--color-dark);
  border-bottom: 2px solid var(--color-light);
}