<section>
    <header>
        HEADER
    </header>

    <main>

        <form action="http://45.174.219.194:8001/?ligar" class="my_class" method="get">
            <div><input type="submit" value="Hello"></div>
        </form>

    </main>
</section>