  
<%# console %>

<section class="welcome" pagina>
  <div class="container">
    <header class="dachboard"><h4>- Dashboard - </h4></header>
    <main>


      <article patrimonio>
        <header><h4>5GBrasil</h4></header>
        <main>
          <div class="cards" container>

            <div class="card" compartimento...>
              <header><h4>RECEPÇÃO:</h4></header>
              <main>

                <button id="js-circuit1" class="celula"  >
                  <p>NOME DEV</p> 
                  <i class="icon icon-placeholder" ></i>
                  <p class="btn btn-placeholder">Place</p>                 
                </button celula>

                <button id="js-circuit3" class="celula"  >
                  <p>NOME DEV</p> 
                  <i class="icon icon-placeholder" ></i>
                  <p class="btn btn-placeholder">Place</p>               
                </button celula>
              
              </main>
            </div ...compartimento>

            <div class="card" compartimento...>
            <header><h4>BANANEIRAS BAR:</h4></header>
            <main>

              <button id="js-circuit2" class="celula"  >
                <p>NOME DEV</p> 
                <i class="icon icon-sirene icon-sttus-0" ></i>
                <p class="btn btn-sttus-0">Place</p> 
              </button celula>
            
            </main>
          </div ...compartimento>
  
          </div container >      
        </main>
      </article>


    </main>
  </div container>
</section>




    <%# <!-- btn1 --><%= text_field_tag("btn1-hidden",  @pin, :id => "js-ref-btn1"  )  %> 



    