<aside class="layout" id="js-aside">
    <div class="container">

        <header>
            <%# <span>Web</span> %>
            <%# <span>Coruja</span> %>

            <%= link_to webcoruja_welcome_index_path do %>
              <i class="icon icon-coruja rem225"></i>
            <% end %> 
              <i class="icon icon-undo2 rem225 js-undo2" id="js-undo2"></i>
          
            
        </header>
        
        <main>
          <ul>
            <li>
            <%= link_to site_welcome_index_path do %>
              <i class="icon icon-home rem225"></i><span>Site</span>
            <% end %> 
            </li>
            <li>
            <%= link_to webcoruja_vlans_index_path  do %>
              <i class="icon icon-vlan rem225"></i><span>Vlans</span>
            <% end %> 
            </li>
            

          </ul>
        </main>
    </div>
  </aside>

