<aside>
    <div class="container">

        
        <%= link_to webcoruja_welcome_index_path, class: "logo" do %>
           <span>Web</span>
            <i class="icon icon-coruja_svg rem225"></i>
           Coruja
        <% end %>
      <ul>
        <li><%= link_to 'Site', site_welcome_index_path %></li>
        <li><%= link_to 'Vlans', webcoruja_vlans_index_path %></li>
      </ul>
      
    </div>
  </aside>