<footer>

  <ul>
        <li><%= link_to 'Admin', admins_backoffice_welcome_index_path %></li>
        <li><%= link_to 'Pontual' %></li>
        <li><%= link_to 'Grain in Grain' %></li>
      </ul>
</footer>
