<header class="lay2 " id="js-header">
<div class="container">
    <nav>
    <%# <div class="adeus">kkk</div> %>
    <%# <div class="adeuss">2222</div> %>
        <i class="icon icon-sanduiche color-primary js-sanduiche" id="js-sanduiche" ></i><%# +small -medium%>
        <i class="icon icon-forward3 rem225 js-forward3"  id="js-forward3"> </i> <%# mq medium %>

        
        <div class="menu">
            <ul>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete do%>
                        <i class="icon icon-exit rem125" id="js-exit" alt="ssss"></i> Sair <%# mq all %>
                    <% end %>
                </li>
            </ul>
        </div><!-- menu-->
    </nav>
    </div container>
</header>
