<header class="bg-ton9">
  <div class="container">
    <nav>
        <i class="icon icon-sanduiche_svg color-primary "></i>
        <div class="menu">
            <ul>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete do%>
                        <i class="icon icon-exit rem125" alt="ssss"></i> Sair
                    <% end %>
                </li>
            </ul>
        </div><!-- menu-->
    </nav>
  </div>
</header>