<%# CSS= HEADER_LAY2  %>
<header class="lay2 " id="js-header">
<div class="container">
    <nav>
    <!-- <div class="adeuss">2222</div>  -->

        <%# css IMPORTANTE - JS GATILHLO = js-sanduiche | JS ACTION =  display = "grid" IN ASIDE%>
        <i class="icon icon-sanduiche js-sanduiche" id="js-sanduiche" ></i>
        <i class="icon icon-forward3 js-forward3"  id="js-forward3"> </i> 
        <i class="icon"  id="js-oculto"> </i> 

        
        <ul>
            <li>
                <%= link_to destroy_user_session_path, method: :delete do%>
                    <i class="icon icon-exit " id="js-exit" alt="ssss"></i> Sair <%# mq all %>
                <% end %>
            </li>
        </ul>
    </nav>
    </div container>
</header>


