<section class="welcome">
  <div class="container">
    <header>
      <h4>- Dashboard - </h4>
    </header>
    <main>
      <article>
        <h3>5GBrasil</h3>
        <div class="cards">
          
          <div class="card">
            <h4>CPD:</h4>
            <main>
              <div class="celula">
                <p>Lâmpada 1</p>
                <i class="icon icon-lampada1 "></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-dark js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 1</p>
                <i class="icon icon-lampada1 icon-lampada1-active "></i>
                <a href="http://45.174.219.194:8000/?pin2on" class="btn btn-light btn-basic-active js-btn2Rt" target="_blank">
                  ON
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 3</p>
                <i class="icon icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-primary js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 2</p>
                <i class="icon icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-basic js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
            </main>
          </div card 1>

          <div class="card">
            <h4>RECEPÇÃO:</h4>
            <main>
              <div class="celula">
                <p>Lâmpada 1</p>
                <i class="icon icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-dark js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 1</p>
                <i class="icon icon-lampada1 icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-basic js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 3</p>
                <i class="icon icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-primary js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
              <div class="celula">
                <p>Lâmpada 2</p>
                <i class="icon icon-lampada1"></i>
                <a href="http://45.174.219.194:8000/?pin2off" class="btn btn-basic js-btn2Rt" target="_blank">
                  OFF
                </a>
              </div celula>
            </main>
          </div card 2>
          
        </div cards>
      </article>
    </main>
  </div container>
</section>




<%# <P><a href="http://45.174.219.194:8000/?pin2off"  class="js-btn2Rt" target="_blank">BTN RETENCAO</a></P>
<P><a href="http://45.174.219.194:8000/?pin2on"  class="js-btn2Swt" target="_blank">BTN ON /  </a>
  <a href="http://45.174.219.194:8000/?pin2off" class="js-btn2Swt2Off" target="_blank">  / BTN OFF</a></P>
<P><a href="http://45.174.219.194:8000/?pin2on"  class="js-btn2Rt" target="_blank">BTN RTÇ KEY</a></P>
<P><a href="http://45.174.219.194:8000/?pin4on" target="_blank">LAMPADA 2</a></P> %>