





  body.lay0 {
    grid-template-columns: 85px repeat(23, 1fr);
  }
  aside.lay1 {
    /* IMPORTANTE  -  */
    visibility: visible;
    // display: none;
    grid-column: 1 / 2;
    span {display: none; }
    /* asidelay1HEADER */
    header {    }
    /* ASIDE_LAY1_main*/
    main {
      ul {
        padding: 0rem;
        font-size: 2.5rem;
        li {
          justify-content: center;
          a {
            display: flex;
            gap: 1rem
          }
        }
      }
    }
  }
  

  main.lay1 {
    // display: grid;
    // width: max(100px);
    grid-column: 2 / 25;
    // z-index: 12;
    //   background: yellow; color: black;
  }

