@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cizsyc');
  src:  url('fonts/icomoon.eot?cizsyc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cizsyc') format('truetype'),
    url('fonts/icomoon.woff?cizsyc') format('woff'),
    url('fonts/icomoon.svg?cizsyc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sirene:before {
  content: "\e91e";
}
.icon-dashboard:before {
  content: "\e91b";
}
.icon-placeholder:before {
  content: "\e91c";
}
.icon-portao:before {
  content: "\e91d";
}
.icon-cadastrar:before {
  content: "\e900";
}
.icon-coruja:before {
  content: "\e901";
}
.icon-davinci:before {
  content: "\e902";
}
.icon-exit:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-fechadura-close:before {
  content: "\e905";
}
.icon-fechadura-open:before {
  content: "\e906";
  color: #606062;
}
.icon-foguete-1 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-foguete-1 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-foguete-2:before {
  content: "\e909";
}
.icon-foguete-3:before {
  content: "\e90a";
}
.icon-insta:before {
  content: "\e90b";
}
.icon-lampada1:before {
  content: "\e90c";
}
.icon-localizacao:before {
  content: "\e90d";
}
.icon-on:before {
  content: "\e90e";
}
.icon-sanduiche:before {
  content: "\e90f";
}
.icon-saude:before {
  content: "\e910";
}
.icon-vg-adicionar:before {
  content: "\e912";
}
.icon-vg-atualizar:before {
  content: "\e913";
}
.icon-vg-download:before {
  content: "\e914";
}
.icon-vg-excluir:before {
  content: "\e915";
}
.icon-vg-listar:before {
  content: "\e916";
}
.icon-vg-upload:before {
  content: "\e917";
}
.icon-vlan:before {
  content: "\e918";
}
.icon-wifi:before {
  content: "\e919";
}
.icon-zap:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e911";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e949";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-sanduiche1:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit1:before {
  content: "\ea14";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-loop:before {
  content: "\ea2d";
}
