/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */



 /*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {list-style: none;}
li {list-style: none;}
a {text-decoration: none;}
img {width: 100%; height: auto;}
 

 :root {
 



--ton0: hsl(0, 0%, 0%);
--ton1: hsl(0, 0%, 1%);
--ton2: hsl(0, 0%, 2%);
--ton3: hsl(0, 0%, 3%);
--ton4: hsl(0, 0%, 4%);
--ton5: hsl(0, 0%, 5%);
--ton6: hsl(0, 0%, 6%);
--ton7: hsl(0, 0%, 7%);
--ton8: hsl(0, 0%, 8%);
--ton9: hsl(0, 0%, 9%);
--ton10: hsl(0, 0%, 10%);
--ton11: hsl(0, 0%, 11%);
--ton12: hsl(0, 0%, 12%);
--ton13: hsl(0, 0%, 13%);
--ton14: hsl(0, 0%, 14%);
--ton15: hsl(0, 0%, 15%);
--ton20: hsl(0, 0%, 20%);
--ton21: hsl(0, 0%, 21%);
--ton22: hsl(0, 0%, 22%);
--ton23: hsl(0, 0%, 23%);
--ton24: hsl(0, 0%, 24%);
--ton25: hsl(0, 0%, 25%);
--ton26: hsl(0, 0%, 26%);
--ton30: hsl(0, 0%, 30%);
--ton31: hsl(0, 0%, 31%);
--ton32: hsl(0, 0%, 32%);
--ton32: hsl(0, 0%, 32%);
--ton33: hsl(0, 0%, 33%);
--ton34: hsl(0, 0%, 34%);
--ton35: hsl(0, 0%, 35%);
--ton40: hsl(0, 0%, 40%);
--ton50: hsl(0, 0%, 50%);
--ton60: hsl(0, 0%, 60%);
--ton70: hsl(0, 0%, 70%);
--ton80: hsl(0, 0%, 80%);
--ton81: hsl(0, 0%, 81%);
--ton82: hsl(0, 0%, 82%);
--ton83: hsl(0, 0%, 83%);
--ton84: hsl(0, 0%, 84%);
--ton85: hsl(0, 0%, 85%);
--ton90: hsl(0, 0%, 90%);
--ton91: hsl(0, 0%, 91%);
--ton92: hsl(0, 0%, 92%);
--ton93: hsl(0, 0%, 93%);
--ton94: hsl(0, 0%, 94%);
--ton95: hsl(0, 0%, 95%);
--ton100: hsl(0, 0%, 100%);

--green: green;
--yellow: yellow;
--pink: pink;
--blue: blue;
--red: red;

 }


 .ton0{color: var(--ton0);}    
 .ton10{color: var(--ton10);}    
 .ton20{color: var(--ton20);}    
 .ton30{color: var(--ton30);}    
 .ton40{color: var(--ton40);}    
 .ton50{color: var(--ton50);}    
 .ton60{color: var(--ton60);}    
 .ton70{color: var(--ton70);}    
 .ton80{color: var(--ton80);}    
 .ton90{color: var(--ton90);}    
 .ton100{color: var(--ton100);}    

 .bg-ton0{background: var(--ton0);}    
 .bg-ton10{background: var(--ton10);}    
 .bg-ton20{background: var(--ton20);}    
 .bg-ton30{background: var(--ton30);}    
 .bg-ton40{background: var(--ton40);}    
 .bg-ton50{background: var(--ton50);}    
 .bg-ton60{background: var(--ton60);}    
 .bg-ton70{background: var(--ton70);}    
 .bg-ton80{background: var(--ton80);}    
 .bg-ton90{background: var(--ton90);}    
 .bg-ton100{background: var(--ton100);}    

 

.icon{cursor: pointer;}
.toggle{};


 .rem075 {font-size: 0.75rem;} 
 .rem100 {font-size: 1rem;} 
 .rem125 {font-size: 1.25rem;} 
 .rem150 {font-size: 1.50rem;} 
 .rem175 {font-size: 1.75rem;} 
 .rem200 {font-size: 2rem;} 
 .rem225 {font-size: 2.25rem;} 
 .rem300 {font-size: 3rem;} 
 .rem325 {font-size: 3.25rem;} 
 .rem350 {font-size: 3.5rem;} 


.c0{background: red; color: black;}
.c1{background: green; color: white;}
.c2{background: yellow; color: blue;}
.c3{background: pink; color: brown;}
 
 @font-face {
  font-family: 'icomoon';
  src:  url('fontss/fonts/icomoon.eot?l6c9c1');
  src:  url('fontss/fonts/icomoon.eot?l6c9c1#iefix') format('embedded-opentype'),
    url('fontss/fonts/icomoon.ttf?l6c9c1') format('truetype'),
    url('fontss/fonts/icomoon.woff?l6c9c1') format('woff'),
    url('fontss/fonts/icomoon.svg?l6c9c1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-foguete-1:before {
  content: "\e910";
}
.icon-foguete-2:before {
  content: "\e911";
}
.icon-foguete-3:before {
  content: "\e912";
}
.icon-coruja:before {
  content: "\e901";
}
.icon-sanduiche:before {
  content: "\e907";
}
.icon-on:before {
  content: "\e909";
}
.icon-saude:before {
  content: "\e90d";
}
.icon-vlan:before {
  content: "\e90f";
}
.icon-online_prediction:before {
  content: "\e90e";
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-map-pin:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-home:before {
  content: "\e913";
}
.icon-pencil2:before {
  content: "\e915";
}
.icon-images:before {
  content: "\e914";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone1:before {
  content: "\e942";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook1:before {
  content: "\ea90";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-whatsapp1:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
