// Place all the styles related to the Webcorujas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// = require webcoruja/welcome
// = require webcoruja/vlans



/*====  VARIABLES ============================ */
@media (min-width:0px) { 
:root {
  --height-header: 12vh;
  --width-aside-medium: 100px;
  --width-aside-large: 35vh;
  // CORES =============
  --hue: 280; //cor matriz

  --color-light: hsl(var(--hue) 100% 80%);
  --color-primary: hsl(var(--hue) 100% 30%);
  --color-dark: hsl(var(--hue) 100% 10%);
  --color-alt: hsl(var(--hue) 100% 80%);
  --color-second: hsl(var(--hue) 54% 87%);

  --link: hsl(var(--hue) 100% 80%);
  a {color: var(--body-font-color); }

  --font-body: sans-serif;

  --font-title: 'Poppins', sans-serif;
} ////////////////////////////////////////////////// END ROOT

/*===  BASE ============================ */
a.logo { color: var(--ton90);}
.color-light {color: var(--color-light);}
.color-primary {color: var(--color-primary);}
.bg-color-primary {background: var(--color-primary);}
.title {
  font: 700 var(--font-size-title) var(--font-title);
  // color: var(--color-light);
} ////////////////////////////////////////////////// END BASE

/*====  LAYOUT ============================ */
html {  background: var(--ton10); }
body.layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: var(--height-header) minmax(80vh, auto) 8vh;
  grid-template-areas: 
                      "h h h h h h" 
                      "m m m m m m" 
                      "f f f f f f";
                      
  font: 400 1rem var(--font-body);
  color: var(--ton90);
  background: red; color: royalblue;
}
aside.layout {
  visibility: none;
  position: fixed;
  width: 65vw;
  z-index: 11;
  height: 100%;
  color: var(--ton90);
  
  background-image: linear-gradient(
    43deg,
    var(--color-dark) 0%,
    var(--color-dark) 30%,
    var(--color-primary) 100%
    );
    background: green; color: yellow;
  } 
  


  main.layout {grid-area: m;}

  main header.layout {
  position: fixed;
  width: 100vw;
  // grid-area: h;
  background-color: var(--ton90);

  background: yellow; color: black;
}

  
 
  
main footer.layout {
    grid-area: f;
    border-top: 2px solid var(--color-light);
}
.container {
  margin-left: 2vw; margin-right: 2vw;
} 

////////////////////////////////////////////////// END LAYOUT

/*====  LOGO ============================ */
a.logo span {
  color: var(--color-light);
}

/*==== HEADER NAVIGATION ============================ */
nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  padding: 1rem;
  color: var(--ton30);
}

/*====  ASIDE aside smartphone * ============================ */
aside.layout header{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  height: var(--height-header);
  padding: .5rem;
}
aside.layout main ul{
  display: grid;
  margin-top: 1rem;
}

aside.layout main ul li{
  display: inline;
  gap: 1rem;
  padding: .5rem;
  font-size: 1.5rem;
}aside.layout main ul li span{margin-left: 1rem;}
section{
  // background: red; color: royalblue;
  border: 1px solid var(--ton8);
}
/*====  MAIN * ============================ */
main section.layout{
  display: grid;
  margin: 1rem 0rem;
  padding: 2rem;
  background-color: var(--ton15);
  // background: green; color: yellow;
}main section header{
  border-bottom: 2px solid var(--ton50); margin-bottom: 2rem;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}


.card {
  flex: 1 1 auto;
  // width: auto 10rem;
  text-align: center;
  padding: 1rem;
  border-bottom: 0.25rem solid var(--ton90);
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: var(--ton22);

    i {margin-bottom: 3rem; font-size: 2.25rem; color: var(--ton60);}
    h1 {padding: .5rem 0rem 1rem;
      color: var(--color-light);  }    // p {margin-top: 1rem; }
}

/*====  DASHBOARD  ============================ */


/*====  FOOTER  ============================ */
footer ul{
  display: flex;
  // flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem;
  align-items: center;
  justify-content: end;
  // background: green; color: yellow;
}
}



/////  MEDIUM
@media (min-width:400px) { 
  

  header.layout .container{padding-left: calc(var(--width-aside-medium) - (1.7rem ));}
  header.layout #js-forward3{color: var(--color-primary);}
  
  aside.layout{visibility: visible;  width: var(--width-aside-medium);  }
  main.layout{margin-left: var(--width-aside-medium);}
  footer.layout{margin-left: var(--width-aside-medium);}
/*====  ASIDES TABLET * ============================ */
  aside.layout header { 
    display: flex; 
    justify-content: center; 
  }
  // aside header a{ display: flex; width: 100%; justify-content: center; }
  // aside header i:nth-child(2){display: none;}/* seta pra voltar */
  aside main ul {display: flex; justify-items: center; }

  aside main ul li a span{display: none;  }
  // aside main ul li a i{
  //   display: flex;
  //   visibility: visible; 
  //   justify-content: center;
  //   font-size: 2.5rem;
  // }

}


/////  LARGE
@media (min-width:800px) { 

  header.layout{}
  aside.layout{visibility: visible;  width: var(--width-aside-large);  }
  main.layout{margin-left: var(--width-aside-large);}
  footer.layout{margin-left: var(--width-aside-large);}



}

@import "button.scss";