
<%= render partial: 'site/shared/header' %>


    <main>
      <!-- HOME -->
      <section class="section" id="home">
        <div class="container grid">

          <div class="image">
            <%= image_tag 'site/home_chamada.jpg', title: "title"  %>
          </div>
          
          <div class="text">
            <h2 class="title">A MELHOR Internet a um ÓTIMO Preço</h2>
            <p>
              Com as maiores facilidades para nossos clientes. 2° via de boleto, desbloqueio de internet, pagamento de fatura e muito mais
            </p>
            <a class="button" target="_blank" href="https://sgp.net.br/esoft/accounts/central/login">Central do Assinante</a>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>




<!-- 2 VIA -->
<section class="section" id="segundavia">
  <div class="container grid">
    <header>
      <h2 class="title">2 Via do Boleto.</h2>
      <a class="button" target="_blank" href="https://sgp.net.br/esoft/accounts/central/login">ACESSAR</a>
    </header>
    
  </div>
</section>

<div class="divider-1"></div>




















<!-- PLANOS -->
<section class="section" id="planos">
  <div class="container grid">
    <header>
      <h2 class="title">Nossos Planos</h2>
      <p class="subtitle">
        <strong>5GBrasil</strong>  tem os melhores planos custo beneficio personalizados que atende sua necessidade.
      </p>
    </header>
    <div class="cards grid">
      <div class="card">
        <i class="icon-foguete-1"></i>
        <h3 class="title">50 Mega</h3>
        <p>
          100% fibra óptica</br>Download 50Mbps</br>Upload 25Mbps
        </p>
        <h3 class="price">R$ 55,00/mês</h3>
      </div>
      <div class="card">
        <i class="icon-foguete-2"></i>
        <h3 class="title">90 Mega</h3>
        <p>
          100% fibra óptica</br>Download 50Mbps</br>Upload 25Mbps
        </p>
        <h3 class="price">R$ 69,00/mês</h3>
      </div>
      <div class="card">
        <i class="icon-foguete-3"></i>
        <h3 class="title">500 Mega</h3>
        <p>
          100% fibra óptica</br>Download 50Mbps</br>Upload 25Mbps
        </p>
        <h3 class="price">R$169,00/mês</h3>
      </div>
    </div>
  </div>
</section>

<div class="divider-1"></div>



      <!-- ABOUT -->
      <section class="section" id="about">
        <div class="container grid">
          <div class="image">
            <%= image_tag 'site/about.jpg', title: "title"  %>

          </div>
          <div class="text">
            <h2 class="title">Sobre nós</h2>
            <p>
              Fomos criados em 2022 para oferecer um melhor padrão de serviço de banda larga. Estamos muito orgulhosos de oferecer aos nossos clientes o melhor suporte possível, enquanto ainda oferecemos preços líderes do setor e excelente custo-benefício.
            </p>
            <br />
            
          </div>
        </div>
      </section>

      <div class="divider-2"></div>

      



      <!-- TESTIMONIALS -->
      <!-- <section class="section" id="testimonials">
        <div class="container swiper">
          <header>
            <h2 class="title">Depoimentos de quem já passou por aqui</h2>
          </header>
          <div class="testimonials swiper-container">
            <div class="swiper-wrapper">
              <div class="testimonial swiper-slide">
                <blockquote>
                  <p>
                    <span>&ldquo;</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Rerum blanditiis saepe nam excepturi explicabo ipsa error
                    ipsam neque
                  </p>
                  <cite>
                    <img
                      src="assets/fotos/10.jpeg"
                      alt="Foto de Wanessa Souza"
                    />
                    Wanessa Souza
                  </cite>
                </blockquote>
              </div>

              <div class="testimonial swiper-slide">
                <blockquote>
                  <p>
                    <span>&ldquo;</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Rerum blanditiis saepe nam excepturi explicabo ipsa error
                    ipsam neque
                  </p>
                  <cite>
                    <img
                      src="assets/fotos/56.jpeg"
                      alt="Foto de Franciele Venega"
                    />
                    Franciele Venega
                  </cite>
                </blockquote>
              </div>

              <div class="testimonial swiper-slide">
                <blockquote>
                  <p>
                    <span>&ldquo;</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Rerum blanditiis saepe nam excepturi explicabo ipsa error
                    ipsam neque
                  </p>
                  <cite>
                    <img
                      src="assets/fotos/26.jpeg"
                      alt="Fotos de Valeska Fabris"
                    />
                    Valeska Fabris
                  </cite>
                </blockquote>
              </div>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <div class="divider-2"></div> -->





      <!-- CONTACT -->
      <section class="section" id="contact">
        <div class="container grid">
          <div class="text">
            <h2 class="title">Entre em contato com a gente!</h2>
            <p>
              Entre em contato com a 5GBrasil, queremos tirar suas dúvidas,
              ouvir suas críticas e sugestões.
            </p>
            <a
              href="https://api.whatsapp.com/send?phone=+5582987145216&text=Oi! Gostaria de tirar uma dúvida"
              class="button"
              target="_blank"
              ><i class="icon-whatsapp"></i> Entrar em contato</a
            >
          </div>

          <div class="links">
            <ul class="grid">
              <li><i class="icon-phone"></i> 82 98714.5216</li>
              <li><i class="icon-map-pin"></i> R. Promotor Manoel de Carvalho, 11 - Feitosa -Maceió/AL</li>
              <li><i class="icon-mail"></i> 5gbrasil.net@gmail.com</li>
            </ul>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>
    </main>

    <footer class="section">
      <div class="container grid">
        <div class="brand">
          <a class="logo logo-alt" href="#home">5G<span>Brasil</span>.</a>
          <p>©2022 5gbrasil.</p>
          <p>Todos os direitos reservados.</p>
        </div>

        
        <div class="social grid">
          <a href="https://instagram.com" target="_blank">
            <i class="icon-instagram"></i>
          </a>
          <a href="https://facebook.com" target="_blank">
            <i class="icon-facebook"></i
          ></a>
          <a href="https://youtube.com" target="_blank"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </footer>

    <a href="#home" class="back-to-top"><i class="icon-arrow-up"></i></a>




    <%# <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- scrollreveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- main.js -->
    <script src="main.js"></script> %>





    
