




@font-face {
    font-family: 'icomoon';
    src:  url('fontss/fonts/icomoon.eot?l6c9c1');
    src:  url('fontss/fonts/icomoon.eot?l6c9c1#iefix') format('embedded-opentype'),
      url('fontss/fonts/icomoon.ttf?l6c9c1') format('truetype'),
      url('fontss/fonts/icomoon.woff?l6c9c1') format('woff'),
      url('fontss/fonts/icomoon.svg?l6c9c1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coruja:before {
  content: "\e900";
}
.icon-davinci:before {
  content: "\e901";
}
.icon-exit:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-foguete-1 .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-foguete-1 .path2:before {
  content: "\e905";
  margin-left: -0.7822265625em;
  color: rgb(254, 254, 254);
}
.icon-foguete-2:before {
  content: "\e906";
}
.icon-foguete-3:before {
  content: "\e907";
}
.icon-insta:before {
  content: "\e908";
}
.icon-localizacao:before {
  content: "\e909";
}
.icon-on:before {
  content: "\e90a";
}
.icon-sanduiche:before {
  content: "\e90b";
}
.icon-saude:before {
  content: "\e90c";
}
.icon-vlan:before {
  content: "\e90d";
}
.icon-wifi:before {
  content: "\e90e";
}
.icon-zap:before {
  content: "\e90f";
}
.icon-lampada1:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-sanduiche1:before {
  content: "\e9bd";
}
.icon-exit1:before {
  content: "\ea14";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
