<h1>Editing Admins Backoffice Patrimonio</h1>

<%= render 'form', admins_backoffice_patrimonio: @admins_backoffice_patrimonio %>

<%= link_to 'Show', @admins_backoffice_patrimonio %> |
<%= link_to 'Back', admins_backoffice_patrimonios_path %>
